<div class="new_whole">
    <img src="/images/logo.png" class="logo"/>

    <%= form_for (@user) do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %>
                    prohibited this user from being saved:</h2>
                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>


        <div>
            <article class="article">用户名:</article>
            <%= f.text_field :name, :size => 40 , :class => "input username"%>
        </div>

        <div>
            <article class="article">密码:</article>
            <%= f.password_field :password, :size => 40 , :class => "input password" %>
        </div>

        <div>
            <article><%= f.label :password_confirmation, 'Confirm' %>:</article>
            <%= f.password_field :password_confirmation, :size => 40, :class => "input password" %>
        </div>

        <div>
            <article class="article">Tag:</article>
            <%= f.text_field :tag, :size => 40 , :class => "input username"%>
        </div>
        <div>
            <article class="article">Current_page:</article>
            <%= f.text_field :current_page, :size => 40 , :class => "input username"%>
        </div>


        <div>
            <%= f.submit :class => "button"%>
        </div>

    <% end %>

</div>
